<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PuriqTours">

        <!-- 🔹 Activity de inicio (con launcher) -->
        <activity
            android:name=".ProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🔹 Navegación principal -->
        <activity android:name=".ToursActivity" android:exported="false" />
        <activity android:name=".HistorialActivity" android:exported="false" />

        <!-- 🔹 Pantalla de login/entrada -->

        <!-- 🔹 Flujo de tours -->
        <activity android:name=".DetalleTourActivity" android:exported="false" />
        <activity android:name=".PagoActivity" android:exported="false" />

        <!-- 🔹 Estados de tours -->
        <activity android:name=".ReservadoActivity" android:exported="false" />
        <activity android:name=".EnProcesoActivity" android:exported="false" />
        <activity android:name=".FinalizadoActivity" android:exported="false" />

        <!-- 🔹 Valoración -->
        <activity android:name=".ValoracionActivity" android:exported="false" />

    </application>

</manifest>
